@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: "Roboto Condensed";
  font-weight: bold; }
  body h1 {
    font-size: 40px; }
  body h2 {
    font-size: 30px; }
  body h3 {
    font-size: 15px; }
  body h4 {
    font-size: 7px; }

.boton, .boton .btn_inicio--venta, .boton .btn_inicio--mg, .boton .btn_contacto--enviar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  color: black;
  font-weight: bold; }
  .boton .btn_inicio--venta {
    background-color: rgba(72, 72, 72, 0.54);
    border: 2px solid aqua;
    color: aqua; }
    .boton .btn_inicio--venta:hover {
      background-color: aqua;
      color: white; }
  .boton .btn_inicio--mg {
    background-color: rgba(72, 72, 72, 0.54);
    border: 2px solid red;
    color: red; }
    .boton .btn_inicio--mg:hover {
      background-color: red;
      color: white; }
  .boton .btn_contacto--enviar {
    background-color: #656565;
    border: 2px solid black; }

.logo_principal, .footer_logo {
  max-width: 40px; }

.nav {
  padding: 5px;
  display: grid;
  justify-content: end;
  align-items: center;
  text-transform: uppercase;
  font-size: 20px; }

.main_titulo {
  color: white;
  -webkit-animation: main_titulo 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: main_titulo 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes main_titulo {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes main_titulo {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/* ventas main */
.main_ventas {
  background-size: cover; }
  .main_ventas h1, .main_ventas p {
    color: black; }

.section_alquileres {
  justify-content: center;
  align-items: center; }

.section_ventas {
  padding: 10px 0px; }

.novedades {
  /* Animaciones */
  animation-duration: 14s;
  animation-name: box2; }

@keyframes box2 {
  0% {
    opacity: 0; }
  100% {
    opacity: 2; } }

.footer {
  line-height: 4; }

.menu_footer, .menu_footer li {
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase; }

.menu_footer a {
  padding: 15px;
  color: black;
  text-decoration: none; }
