@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&family=Roboto+Condensed:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white;
  font-family: "Roboto Condensed";
  font-weight: bold; }
  body ul {
    list-style-type: none; }
  @media only screen and (min-width: 1024px) {
    body .nav {
      padding: 5px;
      display: grid;
      justify-content: end;
      align-items: center;
      text-transform: uppercase;
      font-size: 20px; }
    body h1 {
      font-size: 4rem; }
    body h2 {
      font-size: 2.5rem; }
    body h3 {
      font-size: 1.5rem; }
    body h4 {
      font-size: 1rem; }
    body p {
      font-size: 1.5rem; } }

/* comiezno de boton de inico*/
.button_de--megusta {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 8px 14px;
  border: 1px solid #5e6270;
  border-radius: 100px;
  background: #989fb6;
  background: -webkit-gradient(linear, left top, left bottom, from(#989fb6), to(#5e6270));
  background: -moz-linear-gradient(top, #989fb6, #5e6270);
  background: linear-gradient(to bottom, #989fb6, #5e6270);
  font: normal normal bold 15px arial;
  color: #ffffff;
  text-decoration: none; }

.button_de--megusta:hover,
.button_de--megusta:focus {
  border: 1px solid #757a8c;
  background: #b6bfda;
  background: -webkit-gradient(linear, left top, left bottom, from(#b6bfda), to(#717686));
  background: -moz-linear-gradient(top, #b6bfda, #717686);
  background: linear-gradient(to bottom, #b6bfda, #717686);
  color: #ffffff;
  text-decoration: none; }

.button_de--megusta:active {
  background: #5e6270;
  background: -webkit-gradient(linear, left top, left bottom, from(#5e6270), to(#5e6270));
  background: -moz-linear-gradient(top, #5e6270, #5e6270);
  background: linear-gradient(to bottom, #5e6270, #5e6270); }

/* fin de boton de inico*/
.boton, .boton .btn_inicio--venta {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  color: black;
  font-weight: bold; }
  .boton .btn_inicio--venta {
    background-color: rgba(0, 0, 0, 0.848);
    color: white; }

/*Comienzo de boton de pàg de ventas y alquileres*/
.button_ventas--compras {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 8px 14px;
  border: 0px solid #636f7d;
  border-radius: 100px;
  background: #a2b6ce;
  background: -webkit-gradient(linear, left top, left bottom, from(#a2b6ce), to(#545a61));
  background: -moz-linear-gradient(top, #a2b6ce, #545a61);
  background: linear-gradient(to bottom, #a2b6ce, #545a61);
  text-shadow: #474f5a 1px 1px 0px;
  font: normal normal bold 15px arial;
  color: #ffffff;
  text-decoration: none; }

.button_ventas--compras:hover,
.button_ventas--compras:focus {
  border: 0px solid #8d9eb3;
  background: #c2daf7;
  background: -webkit-gradient(linear, left top, left bottom, from(#c2daf7), to(#656c74));
  background: -moz-linear-gradient(top, #c2daf7, #656c74);
  background: linear-gradient(to bottom, #c2daf7, #656c74);
  color: #ffffff;
  text-decoration: none; }

.button_ventas--compras:active {
  background: #636f7d;
  background: -webkit-gradient(linear, left top, left bottom, from(#636f7d), to(#545a61));
  background: -moz-linear-gradient(top, #636f7d, #545a61);
  background: linear-gradient(to bottom, #636f7d, #545a61); }

/*fin de boton de pàg de ventas y alquileres*/
/*Comienzo de boton de pàg de sobre nosotros*/
.button_modal {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 8px 14px;
  border: 0px solid #171717;
  border-radius: 100px;
  background: #413f41;
  background: -webkit-gradient(linear, left top, left bottom, from(#413f41), to(#171717));
  background: -moz-linear-gradient(top, #413f41, #171717);
  background: linear-gradient(to bottom, #413f41, #171717);
  text-shadow: #0d0d0d 1px 1px 0px;
  font: normal normal bold 15px arial;
  color: #ffffff;
  text-decoration: none; }

.button_modal:hover,
.button_modal:focus {
  border: 0px solid #1a191a;
  background: #4e4c4e;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e4c4e), to(#1c1c1c));
  background: -moz-linear-gradient(top, #4e4c4e, #1c1c1c);
  background: linear-gradient(to bottom, #4e4c4e, #1c1c1c);
  color: #ffffff;
  text-decoration: none; }

.button_modal:active {
  background: #171717;
  background: -webkit-gradient(linear, left top, left bottom, from(#171717), to(#171717));
  background: -moz-linear-gradient(top, #171717, #171717);
  background: linear-gradient(to bottom, #171717, #171717); }

/*fin de boton de pàg de sobre nostors/

/*comienzo de boton de enviar--contacto*/
.button_contac {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 10px 15px;
  border: 0px solid #464328;
  border-radius: 100px;
  background: #837e4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#837e4b), to(#464328));
  background: -moz-linear-gradient(top, #837e4b, #464328);
  background: linear-gradient(to bottom, #837e4b, #464328);
  text-shadow: #292818 1px 1px 0px;
  font: normal normal bold 15px arial;
  color: #ffffff;
  text-decoration: none; }

.button_contac:hover,
.button_contac:focus {
  border: 0px solid #524f2f;
  background: #9d975a;
  background: -webkit-gradient(linear, left top, left bottom, from(#9d975a), to(#545030));
  background: -moz-linear-gradient(top, #9d975a, #545030);
  background: linear-gradient(to bottom, #9d975a, #545030);
  color: #ffffff;
  text-decoration: none; }

.button_contac:active {
  background: #464328;
  background: -webkit-gradient(linear, left top, left bottom, from(#464328), to(#464328));
  background: -moz-linear-gradient(top, #464328, #464328);
  background: linear-gradient(to bottom, #464328, #464328); }

.logo_principal {
  max-width: 100%; }

@media only screen and (max-width: 767px) {
  .nav {
    padding: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 20px; } }

.main_titulo {
  color: white;
  -webkit-animation: main_titulo 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: main_titulo 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes main_titulo {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes main_titulo {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/* ventas main */
.main_ventas {
  background-size: cover; }
  .main_ventas h1, .main_ventas p {
    color: black;
    font-weight: bold; }

.section_alquileres {
  justify-content: center;
  align-items: center; }

.section_ventas {
  padding: 10px 0px; }

.text_novedeades--titulo {
  background-color: rgba(0, 0, 0, 0.692); }

.text_novedeades--subtitulo {
  background-color: #353535; }

.footer {
  line-height: 4; }

.footer_logo {
  max-width: 45%; }

.menu_footer, .menu_footer li {
  list-style-type: none;
  display: inline-block;
  text-transform: uppercase; }

.menu_footer a {
  padding: 15px;
  color: black;
  text-decoration: none;
  font-size: 17px; }
