*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$vista:otro;

body{
    background-color: white;
    font-family: "Roboto Condensed";
    font-weight: bold;

    @if $vista == desktop {
        @media only screen and (min-width:1024px){
            h1{font-size: 4rem;} h2{font-size: 2rem;}
            h3{font-size: 1.5rem;} h4{font-size: 1rem;}
            p{font-size: 0.5rem;}
        }
        }
        @else if $vista == mobile {
        @media only screen and (max-width:767px){
            h1{font-size: 30px;} h2{font-size: 20px;}
            h3{font-size: 10px;} h4{font-size: 5px;}
        }
        }
        @else {
            h1{font-size: 40px;} h2{font-size: 30px;}
            h3{font-size: 15px;} h4{font-size: 7px;}
        }
}

