*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$vista:otro;

body{
    background-color: white;
    font-family: "Roboto Condensed";
    font-weight: bold;

    ul{
        list-style-type: none;
    }

    @if $vista = desktop {
        @media only screen and (min-width:1024px){
            .nav{
                padding: 5px;
                display: grid;
                justify-content: end;
                align-items: center;
                text-transform: uppercase;
                font-size: 20px;}

            h1{font-size: 4rem;} h2{font-size: 2.5rem;}
            h3{font-size: 1.5rem;} h4{font-size: 1rem;}
            p{font-size: 1.5rem;}
        }
        }
        @else if $vista = mobile {
        @media only screen and (max-width:767px){
            h1{font-size: 3rem;} h2{font-size: 1.5rem;}
            h3{font-size: 1rem;} h4{font-size: 0.5rem;}
            p{font-size: 1rem;}
        }
        }
        @else {
            .nav{
                padding: 5px;
                display: grid;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                font-size: 20px;}
            h1{font-size: 3rem;} h2{font-size: 1.5rem;}
            h3{font-size: 1.5rem;} h4{font-size: 0.5rem;}
            p{font-size: 1.5rem;}
        }
}

