.boton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    color: $bg3;
    font-weight: bold;

   .btn_inicio--venta {
    @extend .boton;
    background-color:rgba(72, 72, 72, 0.54);
    border: 2px solid $bg;
    color: $bg;
    &:hover{
        background-color: $bg;
        color: white;
    }
   }
   .btn_inicio--mg {
    @extend .boton;
    background-color:rgba(72, 72, 72, 0.54);
    border: 2px solid $bg2;
    color: $bg2;
    &:hover{
        background-color: $bg2;
        color: white;
    }
   }
   .btn_contacto--enviar{
    @extend .boton;
    background-color:rgb(101, 101, 101);
    border: 2px solid $bg3;
   }
}