.footer{
    line-height: 4;
}

.footer_logo{
    max-width: 45%;
}

.menu_footer, .menu_footer li{
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
}
.menu_footer{
    a{
        padding: 15px;
        color: $bg3;
        text-decoration: none;
        font-size: 17px;
    }
}