.logo_principal{
    max-width: 100%;
}

@media only screen and (max-width:767px){
    .nav{
        padding: 5px;
        display: grid;
        justify-content: center;
        align-items: center;

        text-transform: uppercase;
        font-size: 20px;
}
}