.logo_principal, .footer_logo{
    max-width: 40px;
}
.nav{
    padding: 5px;
    display: grid;
    justify-content: end;
    align-items: center;

    text-transform: uppercase;
    font-size: 20px;
}