.main_titulo{
    color:white;
        -webkit-animation: main_titulo 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                animation: main_titulo 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

     @-webkit-keyframes main_titulo {
      0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }
    @keyframes main_titulo {
      0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
      }
      100% {
        -webkit-transform: scale(1);
                transform: scale(1);
      }
    }

/* ventas main */

.main_ventas{
    background-size: cover;
    h1, p{
        color: $bg3;
        font-weight: bold;
    }
}