@mixin important-fon {
    justify-content: center;
    align-items: center;
  }

  .section_alquileres {
        @include important-fon;
  }

.section_ventas{
    padding: 10px 0px;
}

.text_novedeades--titulo{
  background-color: rgba(0, 0, 0, 0.692);
}
.text_novedeades--subtitulo{
  background-color: rgb(53, 53, 53);
}
