@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300&family=Roboto+Condensed:wght@300&display=swap');
@import "variables";
@import "body";
@import "botones";
@import "header";
@import "main";
@import "section";
@import "footer";
